# STRINGS

Para conocer los métodos que aplican a los strings, se puede ejecutar __dir("")__

In [7]:
name = 'Jose'
age = 46

In [7]:
print("My name is: %s. I'm %i years old." % (name, age))

My name is: Jose. I'm 46 years old.

In [10]:
print("My name is: {}. I'm {} years old.".format(name, age))

My name is: Jose. I'm 46 years old.

In [12]:
print("My name is: {first_name}. I'm {age} years old.".format(first_name=name, age=age))

My name is: Jose. I'm 46 years old.

In [15]:
print("My name is: {first_name}. I'm {age} years old.".format(**{'first_name': name, 'age': age}))

My name is: Jose. I'm 46 years old.

Los ** hacen que a la funcion 'print' se pasen los valores del diccionario como argumentos.

*__La mas común:__*

In [12]:
print(f"My name is: {name.upper()}. I'm {age} years old.")

My name is: JOSE. I'm 46 years old.

In [15]:
simple_dict = {'name': 'Jose', 'age': 46}
print(f"My name is {simple_dict['name']}. I'm {simple_dict['age']}.")

My name is Jose. I'm 46.

### ALINEACIÓN

In [ ]:
name = 'Jose'
print(f"{name:<20}") #Alinea el nombre a la izquierda en un array de 20 caracteres

Jose

In [ ]:
print(f"{name:>20}") #Alinea el nombre a la derecha en un array de 20 caracteres

                Jose

In [ ]:
print(f"{name:^20}") #centra el nombre en un array de 20 caracteres

        Jose

### CONCATENAR

In [17]:
string_1 = "Hello "
string_2 = "World!."
string_3 = string_1 + string_2
print(f"{string_3}")

Hello World!.

In [21]:
'--'.join([string_1, string_2]) # lo que ponemos entre comillas al inicio es lo que se usa para unir las cadenas

'Hello --World!.'

### SPLITTING

In [23]:
string_4 = "Esto es una cadena de 7 palabras"
string_4.split() # Por defecto, se usa el espacio como caracter delimitador de palabras

['Esto', 'es', 'una', 'cadena', 'de', '7', 'palabras']

In [ ]:
string_5 = "Esto;es;una;cadena;de;7;palabras" # Util para procesar archivos CSV o similar
string_5.split(';')

['Esto', 'es', 'una', 'cadena', 'de', '7', 'palabras']

### SLICING

In [ ]:
string_5[1:5] # Desde el índice 1 hasta el indice 4. El numero al final es el índice limite al que nunca se llega

'sto;'

In [29]:
string_5[:5]

'Esto;'

In [30]:
string_5[:-4]

'Esto;es;una;cadena;de;7;pala'

In [32]:
string_5[-4:] # Extrae los 4 últimos caracteres

'bras'