# SETS

Colecci칩n desordenada de DISTINTOS objetos. Debido a que los elementos se encuentran desordenados, no tienen un registro por indices. Hay 2 tipo se sets:
- set --> mutable
- frozenset --> inmutable

#### CREACION
(se crean como una serie de objetos separados por comas y dentro de llaves (curly brackets)

In [4]:
my_set = {"a", "b", "c", "c"}
print(my_set) # Observa que se eliminan los elementos repetidos y estan desordenados

{'b', 'c', 'a'}

In [5]:
my_list = [1, 2, 22, 2]
my_set = set(my_list)
print(my_set)

{1, 2, 22}

### ACCEDIENDO A SUS MIEMBROS

Un set no permite usar slicing ([:2]). Para acceder a sus miembros, hay que iterar sobre los mismos con un loop

In [6]:
my_set[0] # Provocando el error

TypeError: 'set' object is not subscriptable

In [7]:
my_set[:1] # Provocando el error

TypeError: 'set' object is not subscriptable

In [8]:
for item in my_set:
    print(item)

1
2
22

### METODOS

In [11]:
[x for x in dir(my_set) if not x.startswith("__")]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

##### __.add()__
(A침ade un item a un set)

In [12]:
my_set.add(33)
print(my_set)

{1, 2, 22, 33}

##### __.update()__
(A침ade multiples items a un set. Es necesario pasar un iterable)

In [19]:
my_set.update((44, 55))
print(my_set)

{1, 2, 33, 44, 22, 55}

##### __.remove__
(Elimina un item especifico de un set)

In [20]:
my_set.remove(55)
print(my_set)

{1, 2, 33, 44, 22}

In [23]:
my_set.remove(888) # Provocando el error al no tener el item 888 en el set
print(my_set)

KeyError: 888

##### __.discard()__
(Funciona de una manera similar a .remove pero no muestra error en caso de que el item especificado no se encuentre en el set)

In [24]:
my_set.discard(888)
print(my_set)

{1, 2, 33, 44, 22}

##### __.pop()___
(Elimina y retorna un item *ARBITRARIO* de un set)

In [25]:
print(f"{my_set.pop()}")
print(my_set)

1
{2, 33, 44, 22}

##### __.clear()__
(Vacia un set)

In [27]:
print(my_set)
my_set.clear()
print(my_set)

{2, 33, 44, 22}
set()

##### __del__
(Elimina un set)

In [28]:
del(my_set)
print(my_set) # Provocando el error

NameError: name 'my_set' is not defined

##### __.union()__
(Combina 2 sets y retornando la combinaci칩n en un nuevo set)

In [29]:
my_set1 = {"a", "b", "c", "d"}
my_set2 = {"z", "x", "y"}
my_set3 = my_set1.union(my_set2)
print(my_set3)

{'b', 'c', 'd', 'z', 'y', 'x', 'a'}

##### __.intersection()__
(Retorna un nuevo set con los elementos comunes de 2 sets)

In [30]:
my_set1 = {"a", "b", "c", "d"}
my_set2 = {"z", "a", "y"}
my_set3 = my_set1.intersection(my_set2)
print(my_set3)

{'a'}

##### __.difference()__
(Retorna un nuevo set con los elementos diferentes de 2 sets)

In [31]:
my_set1 = {"a", "b", "c", "d"}
my_set2 = {"z", "a", "y"}
my_set3 = my_set1.difference(my_set2)
print(my_set3)

{'d', 'b', 'c'}

Para eliminar duplicados en una lista...

In [33]:
my_list = [1, 2, 3, 4, 2, 4]
my_set = set(my_list)
print(my_set)
my_list = list(my_set)
print(my_list)

{1, 2, 3, 4}
[1, 2, 3, 4]