# PYHTON COMPREHENSIONS

Se muestran diferentes maneras de crear iterables. Normamente se usan las comprehensions cuando hay que generar un nuevo iterable y hay que realizar alguna operación sobre los elementos. A continuación algunos ejemplos.

### SALIDA A LISTA

In [1]:
my_list = [1, 2, 3]
my_new_list = [x for x in my_list]
my_new_list

[1, 2, 3]

In [2]:
my_new_list = [x * 2 for x in my_list]
my_new_list

[2, 4, 6]

Con condicionales

In [3]:
my_new_list = [x for x in range(0, 10) if x % 2 != 0] # numeros impares entre 0 y 9
my_new_list

[1, 3, 5, 7, 9]

Con diccionarios

In [5]:
my_dict = {1: 'dog', 2: 'cat', 3: 'python', 4: 'bird'}
[(key, value) for key, value in my_dict.items()]

[(1, 'dog'), (2, 'cat'), (3, 'python'), (4, 'bird')]

In [6]:
[(key, value) for key in my_dict for value in my_dict.values() if my_dict[key] == value]

[(1, 'dog'), (2, 'cat'), (3, 'python'), (4, 'bird')]

Anidaciones

In [7]:
new_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[item * 2 for item in element]for element in new_list]

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

### SALIDA A DICCIONARIO

In [8]:
my_list = ["dog", "cat", "snake"]
{key: value for key, value in enumerate(my_list)}

{0: 'dog', 1: 'cat', 2: 'snake'}

In [10]:
my_list = ["dog", "cat", "snake"]
{key: value
 for value in my_list
 for key in range(0, len(my_list)) }

{0: 'snake', 1: 'snake', 2: 'snake'}

### SALIDA A SET

In [15]:
my_list = list("aaabbbcccccddddd")
print(my_list)
sorted({item for item in my_list})

['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'c', 'd', 'd', 'd', 'd', 'd']

['a', 'b', 'c', 'd']